/* Global styles */
:root {
  --background-color: white;
  --text-color: black;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  color: var(--text-color);
}
